/**
 * This .css file is the
 * designing of the 0-file.html file
 * Check it out please
 */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-variant: small-caps;
	font-weight: 400;
	line-height: 150%;
}

.class0 {
	font: #ffaadd;
	background: red;
	text: bold;
}

.class1 {
	font: blue;
	background: pink;
	text: small;
	line-height: 22px;
	height: 22px;
}

.img {
	float: right;
	padding: 20px 24px;
	width: 20px;
	height: 25px;
}

.class2 {
	font: green;
	background: orange;
	text: purple;
}

#header0 {
	display: none !important;
	padding: 5px 10px !important;
	border: 2px solid red !important;
	border-radius: 50px !important;
}
#p0 {
	float: left;
	margin: 10px;
	width: 10%;
}

#p1 {
	float: right;
	margin: 2px;
}

.footer {
	background: red;
	font-size: 15px;
	color: black;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.githublink {
	color: black;
	font-size: 14px
}

.logo {
	background: url('airbnb.jpg');
	height: 200px;
	width: 280px;
	display: center;
	justify-content: flex-end;
	float: left;
}

.image {
	background: url('airbnb.jpg');
	height: 16px;
	width: 12px;
}

.word {
	color: red;
}

.top {
	display: inline-block;
	border: 1px solid blue;
	border-radius: 8px;
	padding: 10px 20px;
}

p {
	font-size: 20px;
	margin: 20px 15px 15px 0px;
	padding: 40px;
	border-radius: 10px;
}

.article .first-paragraph {
	background: blue;
}

#top {
	margin: 50px;
	padding: 10px;
	border: 2px;
	background: grey;
}


/*
 * Code developed by Masino
 */


















